body {
    text-align: center;
}

#marqueeStyle {
    background-color: red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_maindiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px soild #c7c7c7;
}

.travel_maindiv img {
    width: 1005;
    height: 300px;
}

.travel_maindiv hr {
    width: 100%;
}

.travel_maindiv h5,
.travel_maindiv p {
    margin-left: 20px;
}

#achievementsID {
    padding-bottom: 10px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;

}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700
}

.header_entrepreneur {
    line-height: 2;
}

.alumni {
    cursor: pointer;
}

.alumni hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}
